    .parent {
        max-width: 80%;
        overflow: hidden;
        zoom: 1;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    
    .item {
        /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
        width: 250px;
        float: left;
        height: auto;
        text-align: center;
        font-family: arial;
    }
    
    .bookname {
        color: black;
        font-size: 18px;
        /* line-height: 10px; */
    }
    
    .author {
        color: black;
        font-weight: bold;
        font-size: 16px;
        line-height: 10px;
    }
    
    .price {
        color: black;
        font-size: 16px;
        line-height: 10px;
    }
    
    .item button {
        border: none;
        outline: 0;
        padding: 8px;
        color: white;
        background-color: #8BAD57;
        text-align: center;
        cursor: pointer;
        width: 100%;
        font-size: 18px;
    }
    
    .card button:hover {
        opacity: 0.7;
    }